@import url("./vars.css");

.badge {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid var(--gradient-orange-start);
  border-radius: 12px;
  font-family: var(--plus-jakarta-sans-font);
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  text-transform: uppercase;
  background-color: var(--gradient-orange-start);
}

