@import url("./vars.css");

.btn {
  text-decoration: none;
  padding: 16px 32px;
  color: var(--white);
  font-family: var(--plus-jakarta-sans-font);
  font-weight: 600;
  border-radius: 32px;
  transition: all 0.3s ease-in-out;
}

.btn-secondary {
  border: 1px solid var(--white);
}

.btn-secondary:hover {
  background: linear-gradient(
    to right,
    var(--gradient-blue-start) 0%,
    var(--gradient-blue-end) 100%
  );
  color: var(--white);
  border-color: transparent;
}

.btn-primary {
  border: 1px solid var(--white);
  background-color: var(--white);
  color: var(--background-color-2);
}

.btn-primary:hover {
  background: linear-gradient(
    to right,
    var(--gradient-orange-start) 0%,
    var(--gradient-orange-end) 100%
  );
  color: var(--white);
  border-color: transparent;
}

@media (max-width: 768px) {
  .btn {
    padding: 12px 24px;
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .btn {
    padding: 10px 20px;
    font-size: 0.75rem;
  }
}
