@import url("./vars.css");

.footer {
  background-color: var(--background-color-2);
  color: var(--white);
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-container > p {
  font-style: italic;
  font-size: 1rem;
  font-family: var(--inter-font);
  font-weight: 300;
  color: var(--secondary-text);
}

@media (max-width: 768px) {
  .footer-container {
    gap: 10px;
  }

  .footer-container > p {
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .footer-container {
    padding: 10px;
  }

  .footer-container > p {
    font-size: 0.75rem;
  }
}