@import url('./reset.css');
@import url('./vars.css');
@import url('./buttons.css');
@import url('./navbar.css');
@import url('./heroAboutSection.css');

.container-display {
    margin: 0 auto;
    max-width: 1280px;
}

.body {
    width: 100%;
    min-height: 100dvh;
}

.main {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}