@import url('./vars.css');

.stack-section {
  background-color: var(--background-color-2);
  color: var(--white);
  padding: 12px 0 60px 0;
}

.stack-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.stack-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.stack-title {
  max-width: 700px;
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--poppins-font);
  font-weight: 700;
  line-height: 1;
  color: var(--secondary-text);
}

.stack-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
}

.stack-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.stack-item .legend {
  font-family: var(--plus-jakarta-sans-font);
  font-size: 400;
  color: transparent;
  max-width: 100%;
}

.stack-item > img {
  max-width: 60px;
  height: auto;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
}

.stack-item:hover > img{
  transform: scale(1.1);
}

.stack-item:hover .legend {
  color: var(--white);
} 

